@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(./images/bn.jpg);
    z-index: -1;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family:
        /* 英文 */
        'times new roman', times, serif,
        /* 中文 */
        "Noto Sans TC", sans-serif;
    line-height: 1;
    /*中文，空格要有引號*/
    color: var(--deep);
    /*定義整個網站預設字色*/
}

/*共用區*/
:root {
    --indigo: #374C66;
    --auburn: #9F353A;
    --alabaster: #F1EEE1;
    --rosyBrown: #B19693;
    --jel: #403D3D;
}

img {
    display: block;
    width: 100%;
}


a {
    display: block;
    color: var(--deep);
    text-decoration: none;
    /* 取消預設的底線裝飾 */
}

button {
    /* 重置所有默认样式 */
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    /* 显示指针光标 */
    /* 在需要的情况下添加其他样式 */
}
p {
    line-height: 1.5;
}

/* 標題 */
.title {
    color: var(--indigo);
    position: relative;
    align-self: flex-start;
    margin-top: 10px;
}

.title .english {
    font-size: 1.3rem;
    /* 調整文字大小 */
}

.title .chiness {
    position: absolute;
    top: 40px;
    /* 垂直置中 */
    right: 30px;
    /* 靠右 */
    font-weight: bold;
    /* 粗體字 */
    font-size: 1.5rem;
    /* 調整文字大小 */
}

/* 標題完 */


.topbar {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 元素靠上 */
    /* position: relative; */
    background-color: #fff;
    display: flex;
    align-items: center;
}

.topbar .logo {
    margin-left: 50px;
}

.topbar .title {
    margin-right: 50px;
    }

#glass {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, .7);
    padding: 100px 100px;
    margin: 50px 50px;
    width: 60%;
    box-shadow: 2px 2px 4px 1px #9c9797;
    /* 只有外框陰影 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

#glass .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#glass .content .box-1 {
    border-right: 1px solid #403D3D;
}

#glass .content .box-1 .registration {
    line-height: 35px;
}

#glass .content .box-1 .registration h2 {
    font-size: 1.5rem;
}

#glass .content .box-1 .notice {
    line-height: 35px;
    margin-top: 50px;
    padding-right: 70px;
}

#glass .content .box-1 .notice h2 {
    font-size: 1.3rem;
    color: #9F353A;
}

#glass .content .box-1 .notice li {
    margin-left: 20px;
}

/* 聯絡我們 */

#glass .content #contact,
#glass .content #passenger {
    margin-left: 50px;
    line-height: 40px;
}

#glass .content h2 {
    font-size: 1.3rem;
    color: #9F353A;
    margin-bottom: 20px;
}

#form-contact {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#form-contact .adjust {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#form-contact #username {
    margin-left: 30px;
}

#form-contact #tel {
    margin-left: 30px;
}

#form-contact #email {
    margin-left: 17px;
}

#form-contact input {
    padding: 5px 10px;
    /* border: 2px solid #374C66; */
    border-radius: 15px;
    border: 1px solid #374C66;
}

#form-contact input::placeholder {
    color: rgba(177, 150, 147, .5);
}

#form-contact fieldset {
    border: none;
    margin-left: 30px;
}

#glass .content #passenger #number {
    border: 1px solid #374C66;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 5px;
}

#glass .content #passenger #message {
    border: 1px solid #374C66;
    border-radius: 15px;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 1rem;
}

#glass .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit small {
    margin-top: 10px;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 30px;
}

.submit fieldset {
    border: none;
    margin-bottom: 30px;
}

.btn-submit {
    font-weight: 200;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 2px solid #9F353A;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #F1EEE1;
    z-index: 1;
    font-size: 1rem;
}

.btn-submit::after {
    content: "";
    background-color: #9F353A;
    opacity: 70%;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 3px;
    left: 3px;
    border-radius: 40px;
    overflow: hidden;
    padding: 3px 3px;
}

/* 頁尾區 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--indigo);
    height: 40vh;
}

footer a:hover {
    text-decoration: underline;
}

.footer-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icon {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.footer {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-left {

    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footerLogo {
    width: 100px;
    padding-right: 30px;
    border-right: 3px solid var(--alabaster);
}

.footer-left h1 {
    font-weight: bold;
    /* 粗體字 */
    color: var(--alabaster);
    /* 調整文字顏色 */
    font-size: 1.5rem;
    /* 調整文字大小 */

}

.footer-left h2 {
    color: var(--alabaster);
    /* 調整文字顏色 */
    line-height: 2.5;
    /* 設置行高為文字大小的2.5倍 */
    font-size: 1rem;

}

.f1 {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    /*主軸(垂直)置中*/
}

.f2 {
    margin-right: 62px;
}

.f3 h2 {
    line-height: 1.5;
    /* 設置行高為文字大小的1.5倍 */


}


.footer-right {
    display: flex;
    /* flex-direction: row; */

    height: 224px;
    width: 350px;
    color: var(--alabaster);

    /* border: 1px solid #ff1c1c; */
}

.r {
    line-height: 2.5;
    align-content: center;

}

.r1 {
    display: block;
    position: relative;
}

.r1::after {
    content: "";
    position: absolute;
    top: 19%;
    left: 140%;
    background: #aaa;
    width: 3px;
    height: 140px;

}

.r1,
.r2 {
    margin-right: 60px;
}

.Copyright-Notice {
    color: var(--alabaster);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    /* border: 1px solid #ff1c1c; */
}

/*rwd斷點*/

/*平板*/
@media (max-width:820px) {
    footer {
        width: 100%;

        height: 100%;
    }
}

/*手機板*/
@media (max-width:640px) {
    footer {
        width: 100%;

        height: 100%;
    }
}

/* TOP鈕 */
.gotop {
    position: fixed;
    display: none;
    top: 85%;
    left: 95%;
    width: 70px;
    max-width: 100%;
    z-index: 999;
    cursor: pointer;
}