@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*共用區*/
:root {
    --indigo: #374C66;
    --auburn: #9F353A;
    --alabaster: #F1EEE1;
    --rosyBrown: #B19693;
    --jel: #403D3D;

    /* --bg-color-1: #F2EDF0;
    --bg-color-2: #E6ECE5;
    --bg-color-3: #ECF0F4;

    --lesser-color: #BF9899; */
    /*透明色調*/
    /* --alpha-deep: rgba(0, 0, 0, 0.4);
    --alpha-red: rgba(227, 217, 151, 0.2);
    --alpha-red2: rgba(214, 168, 163, 0.6); */
}

img {
    display: block;
    width: 100%;
    /* svg預設W100%,其他圖檔預設為原尺寸 */
}

a {
    display: block;
    color: var(--deep);
    text-decoration: none;
    /* 取消預設的底線裝飾 */
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    /*主軸:垂直*/
    justify-content: center;
    /*主軸(垂直)置中*/
    align-items: center;
    /*副軸水平置中*/
    height: 100vh;

}



.titleP {
    height: 50px;
    width: 290px;
}



/*頁首區*/
.logo {
    width: 210px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.banner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.background-img {
    width: 100%;
    height: 100%;
}


.banner .topbarfont {
    writing-mode: vertical-rl;
    /* 垂直排列，文字由右向左 */
    text-orientation: upright;
    /* 文字方向直立 */

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
    text-align: left;
    line-height: 2.8;
    /* 設置行高為字體大小的2.8倍 */
    height: 400px;
    /* 固定高度為 400 像素 */
    letter-spacing: 20px;
    /* 設置字距為2像素 */
    text-indent: 20px;
}

.topbarfont .t2 {
    /*交錯行高*/
    text-indent: 60px;
}


.topbar {

    padding: 30px 50px;

    justify-content: space-between;
    align-items: center;
    /* 垂直置中 */

}

.banner {
    height: 955px;

    background-image: url(./images/home.jpg);
    background-size: cover;
    /* 將背景圖片的寬度設為自動，高度設為 300 像素 */
    background-position: center;
    /* 將背景圖片置中 */
    background-repeat: no-repeat;
    /* 禁止背景圖片重複 */
}

.topbar nav {
    display: flex;
    flex-direction: column;
    /* 主軸垂直 */
    align-items: flex-end;
    /* 副軸水平齊尾 */
}


.icon {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.icon li {
    margin: 0 10px;
    /* 調整圖片與文字之間的間距 */
    display: inline-block;
    /* 讓列表項水平排列 */
    margin-left: 20px;
    /* 調整列表項之間的間距 */
}


.icon li a {
    display: flex;
    align-items: center;
    /* 將圖片與文字垂直置中 */
    text-decoration: none;
    color: #333;
    /* 文字顏色 */
    font-size: 1.3rem;
}

.icon li img {
    width: 50px;
    /* 圖片寬度 */
    height: 50px;
    /* 圖片高度 */
    margin-right: 5px;
    /* 調整圖片與文字之間的間距 */
}

/*關於日本*/
#about {
    background-image: url(./images/Rectangle\ 180.png);
    position: relative;
}


.title {
    position: relative;
    width: 290px;
    height: 50px;
    margin-bottom: 100px;
    /* 下方距離 */
}

.title h1 {
    position: absolute;
    top: 75%;
    /* 垂直置中 */
    right: 40px;
    /* 靠右 */
    font-weight: bold;
    /* 粗體字 */
    color: var(--indigo);
    /* 調整文字顏色 */
    font-size: 1.5rem;
    /* 調整文字大小 */
}

.title h2 {
    font-size: 1.3rem;
    /* 調整文字大小 */
    color: var(--indigo);
    /* 調整文字顏色 */
}

/* 左側介紹卡 */
.card {
    width: 100%;
    height: 485px;
}

#about {
    flex-direction: row;
}

.card img {
    float: left;
    max-height: 100%;
    /* 圖片最大寬度為容器寬度 */
    width: auto;
    /* 讓高度自動調整以保持比例 */
    /* 如果需要空間分隔圖片和其他內容，可以添加 margin */
    margin-right: 10px;
    /* 調整間距 */
}


.behight {
    flex-direction: row;
    border: 2px solid #000000;
    /* 外框線寬度和顏色 */
}

.whyjp {
    border: 2px solid #ffffff;
    /* 外框線寬度和顏色 */
    border-radius: 40px 0 0 40px;
    /* 左側圓角 */
    padding: 77px 80px;
}

.whyjp h1 {
    font-size: 1.3rem;
    color: var(--indigo);
    font-weight: bold;
}

.whyjp h2 {
    margin-top: 30px;
}



/*所有地區*/
#allRegions {
    height: 700px;
    background-image: url(./images/Rectangle\ 180.png);
}

.allRegions {
    display: flex;
    margin-left: 250px;
}

.allRw {

    display: flex;
    /* 將 .allRw 元素設置為 flex 容器 */
    flex-direction: column;
    /* 將內容從上到下垂直排列 */
    justify-content: center;
    /* 水平置中 */

}

.w1 {
    width: 450px;
    margin-bottom: 108px;
}

.w2 {
    width: 450px;
}


.allRegionsbe {
    align-self: flex-start;
    /* 將該元素的內容置頂 */
}

.map {
    position: relative;
    height: 700px;

    position: relative;
    /* 設置相對位置 */
    z-index: 1;
    /* 設置層級，這裡假設 .div1 在上面 */
}

.map .title {
    position: absolute;
    /* 設置絕對位置 */
    top: 250px;
    /* 設置距離父元素頂部的距離 */
    left: 100px;
    /* 設置距離父元素左側的距離 */
    z-index: 2;
    /* 設置層級，這裡假設 .div2 在上面 */
}



.map img {
    max-height: 100%;
    /* 圖片最大寬度為容器寬度 */
    width: auto;
    /* 讓高度自動調整以保持比例 */
}




/* 推薦行程 */
#recommendations {
    height: 600px;
    justify-content: flex-start;
    /*主軸對齊方式*/
    align-items: center;
    background-image: url(./images/Rectangle\ 180.png);
    /* height: 600px; */
    overflow: visible;
    /* 允許內容溢出 */
    overflow: hidden;
    /* 溢出隱藏 */
}

.recommendations-botton {
    left: 50%;
    margin-top: 100px;
    /* 上方為按鈕上下左右位置調整 */
    position: absolute;
    width: 100px;
    display: flex;
    /* 將父元素設置為 Flexbox 容器 */
    flex-direction: row;
    justify-content: space-between;


}

.titlebox {
    margin-top: 30px;

    position: absolute;
    left: 90%;

    display: flex;
    /* 將父元素設置為 Flexbox 容器 */
    flex-direction: row;


    /* border: 1px solid #ff1c1c; */
}

.title1 {
    writing-mode: vertical-lr;
    /* 垂直排列，文字由右向左 */
    text-orientation: upright;
    /* 文字方向直立 */
    margin-right: 25px;
    font-weight: bold;
    /* 粗體字 */
    color: var(--indigo);
    /* 調整文字顏色 */
    font-size: 1.5rem;
    /* 調整文字大小 */
    letter-spacing: 13px;
    /* 增加字距 */
}


.title2 {
    transform: rotate(90deg);
    transform-origin: top left;
    /* 旋轉基準點在左上角 */
    white-space: nowrap;
    /* 防止文字換行 */

}

.list-box {
    /* width: 100%; */
    align-items: flex-end;
    /*主軸對齊方式*/
    margin-top: 80px;
    display: inline-flex;

    /* border: 1px solid #ff1c1c; */
}

/* 一格文字卡-大 */
.item {
    height: 450px;
    width: 400px;

    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.content {
    margin: 25px 32.5px;
    /* border: 1px solid blue; */
}


.cardImg {
    display: flex;
    /* border: 1px solid red; */
}

.icon {
    height: 13px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 30px;
    /* border: 1px solid rgb(255, 157, 157); */
}

.icon h2 {
    font-size: 0.875rem;

}

.cardImg img {
    max-height: 100%;
    /* 圖片最大寬度為容器寬度 */
    width: auto;
    margin-right: 5px;
}

.c1 img {
    max-height: 100%;
    /* 圖片最大寬度為容器寬度 */
    width: auto;
}

.carddow {
    margin-top: 24px;
}

/* 一格文字卡-大 */
/* 一格文字卡-小 */
.item-s {
    height: 350px;
    width: 320px;

    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.item-s p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}








#allEvents {
    background-color: white;
}

/* 最新消息 */
#news {
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

    /* border: 1px solid #000000; */
    /* 外框線寬度和顏色 */

    position: relative;
}

#news .title {
    position: absolute;
    top: 80px;
    left: 900px;
}

#news .newsImg {
    height: 100vh;
    width: auto;
}

.newst {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 250px;

    /* border: 1px solid #494964; */
}

.newsright-t {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #494964;
    /* 外框線寬度和顏色 */
    line-height: 2.5;
    /* 設置行高為文字大小的2.5倍 */

    /* border: 1px solid red; */
}

.newsright-t img {
    height: 50px;
}

.newst1 {
    margin: 30px 0;
}













footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--indigo);
    height: 40vh;
}
.footer-frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* border: 1px solid #1cff8a; */
}
.social-media-icon{
width: 70%;
display: flex;
justify-content: flex-end;

    /* border: 1px solid #ff1c1c; */
}

.social-media-icon img{
height: 25px;
width: 25px;
margin-right: 10px;
}

.r a{
    text-decoration: underline;

}

.footer {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

        /* border: 1px solid #ff1c1c; */
}

.footer-left {

    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;


    /* border: 1px solid #ff1c1c; */
}

.footerLogo {
    width: 100px;
    padding-right: 30px;
    border-right: 3px solid var(--alabaster);
}

.footer-left h1 {
    font-weight: bold;
    /* 粗體字 */
    color: var(--alabaster);
    /* 調整文字顏色 */
    font-size: 1.5rem;
    /* 調整文字大小 */

}

.footer-left h2 {
    color: var(--alabaster);
    /* 調整文字顏色 */
    line-height: 2.5;
    /* 設置行高為文字大小的2.5倍 */
    font-size: 1rem;

}

.f1 {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    /*主軸(垂直)置中*/
}

.f2 {
    margin-right: 62px;
}

.f3 h2 {
    line-height: 1.5;
    /* 設置行高為文字大小的1.5倍 */


}


.footer-right {
    display: flex;
    /* flex-direction: row; */

    height: 224px;
    width: 350px;
    color: var(--alabaster);

    /* border: 1px solid #ff1c1c; */
}

.r {
    line-height: 2.5;
    align-content: center;

}

.r1 {
    display: block;
    position: relative;
}

.r1::after {
    content: "";
    position: absolute;
    top: 19%;
    left: 140%;
    background: #aaa;
    width: 3px;
    height: 140px;

}


.r1,
.r2 {
    margin-right: 60px;
}

.Copyright-Notice {
    color: var(--alabaster);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    /* border: 1px solid #ff1c1c; */
}