@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family:
        /* 英文 */
        'times new roman', times, serif,
        /* 中文 */
        "Noto Sans TC", sans-serif;
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*共用區*/
:root {
    --indigo: #374C66;
    --auburn: #9F353A;
    --alabaster: #F1EEE1;
    --rosyBrown: #B19693;
    --jel: #403D3D;
}

body {
    color: #555;
    font-family:
        /* 英文 */
        'times new roman', times, serif,
        /* 中文 */
        "Noto Sans TC", sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    color: var(--deep);
    text-decoration: none;
    /* 取消預設的底線裝飾 */
}

button {
    /* 重置所有默认样式 */
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    /* 显示指针光标 */
    /* 在需要的情况下添加其他样式 */
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    /*主軸:垂直*/
    justify-content: center;
    /*主軸(垂直)置中*/
    align-items: center;
    /*副軸水平置中*/
    height: 100vh;
}


/* 頁頭 */

.topbar {
    width: 100%;
    height: 800px;
    background-image: url('./images/tokyo-kendo/bn.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.topbar img {
    height: 96px;
    width: 110px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.text-box {
    background-color: #fff;
    width: 365px;
    height: 800px;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.text {
    width: 120px;
    height: 700px;
    justify-content: center;
    display: flex;
    /* 要包文字 */
}

.text h1 {
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    letter-spacing: 0.2em;
    /* 文字間距 */
    font-size: 1.5rem;
    color: #374C66;
    font-weight: bold;
    /* 文字加粗 */
    margin-top: 115px;
    margin-right: 10px;
}

.text h2 {
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    color: var(--jel);
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 1.3rem;
    margin-top: 390px;
    margin-right: 16px;
}

.text h3 {
    font-size: 1rem;
    color: #B19693;
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    margin-top: 115px;
    letter-spacing: 2px;
}

/* 漢堡按鈕區 */
.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: right 0.7s ease;
    z-index: 999;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-content {
    height: 100%;
    overflow-y: auto;
}

.menuBox {
    display: flex;
    align-items: center;
}

.menuLogoimg {
    position: relative;
    width: 500px;
    height: 100vh;
    display: flex;
}

.menuImg {
    height: 100vh;
    max-height: 100%;

}

.logohavefont {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 230px;
    max-width: 100%;

}


.menuIconBox {
    width: 74%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;

}

.menuIconBox li {
    font-size: 1.4rem;
    color: #000000;
    /* background-color: #d7ffea; */
}

.menuIconBox li img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.menuIconBox li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--indigo);
}

.menu .all {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu .all li {
    color: var(--indigo);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--indigo);
}

.menuIconBox .allOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 230px;
    margin: 40px 0;
}

.menuIconBox .allOptions li {
    width: auto;
}

.menuIconBox .button,
.l {
    margin: 0 30px;
}

.menuIconBox .button li {
    margin-top: 20px;
}

.menu-social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.menu-social-media li:nth-child(1),
.menu-social-media li:nth-child(2) {
    margin-right: 50px;
}

.menu-social-media li img {
    /* margin設定格式化 */
    margin: initial;
    width: 25px;
    height: 25px;
}


.show-menu {
    right: 0;
}

button#closeMenu {
    position: absolute;
    top: 50px;
    right: 50px;
}


/* 完 */


/* 索引 */

.focus {
    height: 110px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* 垂直居中 */
}

.hamburger a {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger img {
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
}

.hamburger h2 {
    font-size: 1em;
    /* 16px */
    margin: 4px;
}

.focus-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.focus-box li {
    width: 125px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.focus-text {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #F1EEE1;
    border-radius: 50%;
    justify-content: center;
    flex-direction: column;
    /* 垂直排列 */
}

.focus-box li img {
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.focus-text h2 {
    font-size: 1rem;
}

.focus-text h3 {
    font-size: 1.3rem;
    color: #9F353A;
    margin-top: 4px;

}

/* 選擇日期 */
.date {
    width: 100%;
    height: 430px;
    display: flex;
}

.date-title {
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}

.date-title h1 {
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    letter-spacing: 0.2em;
    /* 文字間距 */
    font-size: 1.5rem;
    color: #374C66;
    font-weight: bold;
    /* 文字加粗 */
}

.date-title h2 {
    font-size: 1rem;
    color: #B19693;
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    margin-left: 10px;
    letter-spacing: 2px;
}


/* 日期選擇按鈕 */
/* 縮放會有問題!!!尚未更改 */

.choose {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
}

.choose-btn {
    width: 930px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    border-color: #B19693;
    background-color: rgba(241, 238, 225, 0.3);
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.choose-btn.inactive {
    background-color: #e0e0e0;
    color: #a0a0a0;
}

.choose-box {
    width: 610px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-box p {
    font-size: 1rem;
    margin-top: 12px;
}

.choose-text {
    width: 510px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-text img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.choose-text h2 {
    font-size: 1.3rem;
    color: #9F353A;
    font-weight: bold;
}


/* 報名按鈕 */
.btn-SignUp {
    font-weight: 200;
    letter-spacing: 2px;
    padding: 20px 30px;
    border: 2px solid #9F353A;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #F1EEE1;
    z-index: 1;
    font-size: 1rem;
    margin-top: 25px;
}

.btn-SignUp::after {
    content: "";
    background-color: #9F353A;
    opacity: 70%;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 3px;
    left: 3px;
    border-radius: 40px;
    overflow: hidden;
    padding: 3px 3px;
}




/* 裝飾線 */
/* 縮放會有問題!!!尚未更改 */
.line {
    height: 230px;
    width: 2px;
    border-width: 0;
    background-color: #374C66;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 150px;
    margin-top: 60px;
}




/* 導遊 */
.guide {
    width: 100%;
    height: 500px;
    background-color: #F1EEE1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide-box {
    width: 990px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guide-img {
    display: flex;
    align-items: center;
}


.guide-bg {
    width: 300px;
    height: 450px;
    background-color: #374C66;
    border-radius: 40px;
    position: relative;
    /* 絕對定位 */
    margin-top: 24px;
    z-index: 0;
}

.guide-image {
    width: 300px;
    height: 450px;
    border-radius: 40px;
    margin-left: 106px;
    overflow: hidden;
    background-size: cover;
    z-index: 1;
    position: absolute;
    background-image: url("./images/tokyo-kendo/guide.jpg");
    background-position: center;
    /* 圖片居中 */
}

.guide-line {
    border-color: #fff;
    border-radius: 40px;
    z-index: 2;
    width: 300px;
    height: 450px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    margin-left: 90px;
}

.guide-text h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #374C66;
    letter-spacing: 0.8rem;
}

.guide-text h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #9F353A;
    margin-top: 16px;
    letter-spacing: 0.3rem;
    /* 字距 */
}

.guide-text p {
    font-size: 1rem;
    line-height: 40px;
    /* 行距 */
    letter-spacing: 0.1rem;
    margin-top: 30px;
    font-weight: bold;
}

/* 行程精選輪播*/
.feature-box {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.feature-box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95px;
    height: 280px;
    margin-left: 100px;
    margin-top: 150px;
    border-right: 0.5px solid #374C66;
    color: rgba(55, 76, 102,.5);
}

.feature-box li {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    font-weight: bolder;
    width: 70px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    cursor: pointer; /* 鼠标悬停时显示手形指针 */
}

.feature-box .active {
    border-bottom: 1px solid #374C66; /* 点击时显示底线 */
    color: var(--indigo);
}


.feature-box li:hover {
    border-bottom:1px solid var(--indigo);
}

.feature01 {
    display: flex;
    justify-content: space-between;
    margin: auto 60px;
    /* margin-left: 60px; */
}


/* 幻燈片的基本樣式 */
.mySlides,
.mySlides2,
.mySlides3 {
    display: none;
}

.slideshow-container img {
    vertical-align: middle;
    border-radius: 30px;
}

.slideshow-container2 img {
    vertical-align: middle;
    border-radius: 30px;
}

.slideshow-container3 img {
    vertical-align: middle;
    border-radius: 30px;
}

/* 第一個輪播圖容器 */
.slideshow-container {
    width: 333px;
    position: relative;
    margin: auto;
}

/* 第二個輪播圖容器 */
.slideshow-container2 {
    width: 333px;
    position: relative;
    margin: auto;
}

/* 第三個輪播圖容器 */
.slideshow-container3 {
    width: 333px;
    position: relative;
    margin: auto;
}

/* 完 */

/* Caption text */
.text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* 右半邊內容 */
.f-box {
    margin-left: 50px;
    width: 758px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-boxBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #374C66;
    letter-spacing: 0.3rem;
    padding-left: 400px;
    margin-bottom: 50px;
}

.paragraphs-container {
    margin-left: 30px;
    height: 200px;
}

.paragraph{
    font-size: 1rem;
    line-height: 40px;
    /* 行距 */
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.f-boxImg {
    display: flex;
    justify-content: space-between;
}


.btn-lift {
    background-image: url("./images/button-left.svg");
    width: 38px;
    height: 38px;
    background-color: #fff;
    outline: none;
    border: none;
}

.btn-right {
    background-image: url("./images/button-right.svg");
    width: 38px;
    height: 38px;
    background-color: #fff;
    outline: none;
    border: none;
}

/* 形成精選輪播完 */

/* 花 */
.DailyTour {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1EEE1;
    margin-bottom: 100px;
}

.DailyTour img {
    width: 190px;
    height: 190px;
}


/* 每日行程 */
.all-DAY {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tabs {
    border: none;
}

#tabs ul {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #fff;
}

#tabs-1,
#tabs-2,
#tabs-3,
#tabs-4 {
    padding: 0;
}

#tabs li {
    margin: 0 50px;
}

#tabs li a {
    padding: 40px 100px;
}

/* 預設標 */
#tabs .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    float: left;
    height: 85px;
    width: 230px;
    line-height: 31px;
    /* border: 6px  double #fff; */
    background-color: #9F353A;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 40px 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* 預設A */
#tabs .ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #ffffff;
    text-decoration: none;
}

/* 標籤間距 */
#tabs .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0 50px;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

/* 已按了 */
#tabs .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background-color: #fff;
    color: #000000;
    border-right: 15px solid #9F353A;
    border-top: 2px solid #9F353A;
    border-left: 1px solid #9F353A;
    border-radius: 40px 40px 0 0;
}

/* 已按A */
#tabs .ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #000000;
    text-decoration: none;
}



#tabs li:hover {
    background-color: #fff;
    border-right: 15px solid #9F353A;
    border-top: 2px solid #9F353A;
    border-left: 1px solid #9F353A;
    border-radius: 40px 40px 0 0;
}

#tabs li a:hover {
    color: #000;
}

.day_container {
    border-right: 15px solid #9F353A;
    height: auto;
    width: 1530px;
    border-radius: 40px;
    border-left: 1px solid #9F353A;
    border-top: 2px solid #9F353A;
    border-bottom: 1px solid #9F353A;
    position: relative;
}

.day-content {
    position: relative;
}

.d1 {
    margin-top: 100px;
}

.journey-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    margin-top: 100px;
}


/* 行程內容 */
.journey1 {
    border: 2px solid var(--auburn);
    border-right: none;
    /* 不显示右边框 */
    border-radius: 25px 0 0 0;
    /* background-color: var(--auburn); */
    width: 1220px;
    height: 360px;
    display: flex;
    align-items: flex-start;
    /* 置頂頂部 */
}


.journey1 h3 {
    border-radius: 20px 0 20px 0;
    border: 2px solid var(--auburn);
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    padding: 25px 20px;
    color: var(--alabaster);
    background-color: var(--auburn);
    letter-spacing: 2px;
}


.day-text {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 150px;
    margin-top: 30px;
}

.btn-day-lift {
    background-image: url("./images/button-left.svg");
    width: 38px;
    height: 38px;
    outline: none;
    border: none;
    margin-right: 8px;
}

.btn-day-right {
    background-image: url("./images/button-right.svg");
    width: 38px;
    height: 38px;
    outline: none;
    border: none;
    margin-left: 8px;
}


/* 增加的效果!!!!!!請加進去 */
.btn-day-lift:hover {
    /* 滑鼠樣式改變 */
    background-image: url("./images/button-left.svg");
    background-color: var(--alabaster);
    border-radius: 99px;
    cursor: pointer;
}

/* 增加的效果!!!!!!請加進去 */
.btn-day-right:hover {
    background-image: url("./images/button-right.svg");
    background-color: var(--alabaster);
    border-radius: 99px;
    /* 滑鼠樣式改變 */
    cursor: pointer;
}



.day-text h4 {
    color: #374C66;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 500px;
}

/* 行程圖片 */
.day-img {
    display: flex;
    align-items: center;
    position: absolute;
    top: 150px;
    justify-content: center;
    left: 0px;
}



/* js效果，有更改名字!!!!*/
.next-img img {
    width: 550px;
    height: 365px;
    object-fit: cover;
    border-radius: 40px;
    margin: 0 45px;
}





/* 文字介紹 */
.journey-box p {
    font-size: 1rem;
    width: 1140px;
    height: 120px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    /* 行距 */
    font-weight: bold;
    /* 字體加粗 */
}





/* 餐點 */
.eat {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    /* 垂直排 */
    position: relative;
}

.all-eat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 600px;
}

.stop {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F1EEE1;
    flex-direction: column;
    /* 垂直排 */
    margin-right: 450px;
}

.eat h5 {
    font-size: 1.3rem;
    color: #374C66;
    margin-top: 50px;
}

.eat h6 {
    font-size: 1.3rem;
    color: #374C66;
}

.eat-text {
    display: flex;
    height: 240px;
    width: 1100px;
    background-color: #F1EEE1;
    border-radius: 40px 0 0 40px;
    position: absolute;
    margin-top: 100px;

}

.all-text {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 20px;
    align-items: center;
}

.all-text img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.all-text .house,
.food {
    /* 文字 */
    font-size: 1.3rem;
    margin-left: 4px;
    color: #374C66;
    font-weight: bold;
}

.house {
    display: flex;
    align-items: center;
}

.food {
    display: flex;
    align-items: center;
    margin-left: 250px;
}

/* 餐點圖片 */

.eat-img {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 180px;
}

.eat-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 25px;
}




/* 車程時間 */
.bus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.walk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bus img {
    width: 40px;
    height: 140px;
}

.walk img {
    width: 30px;
    height: 140px;
}

.bus h2,
.walk h2 {
    font-size: 1rem;
    color: #374C66;
    margin-left: 8px;
}


/* 飯店 */

.hotel {
    width: 1100px;
    height: 750px;
    position: relative;
    display: flex;
    margin: 50px auto 0 auto;

}

.color {
    width: 1000px;
    height: 500px;
    background-color: #F1EEE1;
    border-radius: 40px;
    margin-top: 80px;
    position: relative;
    margin-left: 50px;
}

.hotel-img {
    display: flex;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
}

.hotel-h3 {
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    color: #374C66;
    padding: 25px 20px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    letter-spacing: 2px;
}

.hotel-img img {
    width: 600px;
    height: 400px;
    border-radius: 40px;
    margin-top: 0;
    object-fit: cover;
}


.hotel-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    margin-top: 440px;
}

.hotel-text img {
    width: 265px;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
    margin-left: 30px;
    padding: 5px;
}

.hotel-text p {
    font-size: 1rem;
    margin-right: 45px;
    line-height: 40px;
    font-weight: bold;
    /* 字體加粗 */
}

.hotel h4 {
    font-size: 1.5rem;
    writing-mode: vertical-lr;
    margin-left: 75%;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    letter-spacing: 1rem;
    border-right: 2px solid #374C66;
    padding-right: 40px;
    font-weight: bold;
}



/* 備註 */
.note {
    width: 100%;
    height: 300px;
    background-color: #F1EEE1;
    display: flex;
}

.note-title {
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
    width: 70px;
    height: 80px;
    justify-content: center;
}

.note-title h1 {
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    letter-spacing: 0.2em;
    /* 文字間距 */
    font-size: 1.5rem;
    color: #374C66;
    font-weight: bold;
    /* 文字加粗 */
}

.note-title h2 {
    font-size: 1rem;
    color: #B19693;
    writing-mode: vertical-lr;
    /* 文字垂直排 */
    letter-spacing: 2px;
    margin-left: 5px;
}


.note-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}

.note-text li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 12px;
}

.note-text li img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

/* 裝飾線 */
/* 縮放會有問題!!!尚未更改 */
.note-line {
    height: 150px;
    width: 2px;
    border-width: 0;
    background-color: #374C66;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 300px;
    margin-top: 60px;
}

/* 地圖 */
iframe {
    margin-top: 100px;
}

/* 頁尾區 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--indigo);
    height: 40vh;
}

footer a:hover {
    text-decoration: underline;
}

.footer-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icon {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.footer {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-left {

    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footerLogo {
    width: 100px;
    padding-right: 30px;
    border-right: 3px solid var(--alabaster);
}

.footer-left h1 {
    font-weight: bold;
    /* 粗體字 */
    color: var(--alabaster);
    /* 調整文字顏色 */
    font-size: 1.5rem;
    /* 調整文字大小 */

}

.footer-left h2 {
    color: var(--alabaster);
    /* 調整文字顏色 */
    line-height: 2.5;
    /* 設置行高為文字大小的2.5倍 */
    font-size: 1rem;

}

.f1 {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    /*主軸(垂直)置中*/
}

.f2 {
    margin-right: 62px;
}

.f3 h2 {
    line-height: 1.5;
    /* 設置行高為文字大小的1.5倍 */


}


.footer-right {
    display: flex;
    /* flex-direction: row; */

    height: 224px;
    width: 350px;
    color: var(--alabaster);

    /* border: 1px solid #ff1c1c; */
}

.r {
    line-height: 2.5;
    align-content: start;

}

.r1 {
    display: block;
    position: relative;
}

.r1::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 140%;
    background: #aaa;
    width: 3px;
    height: 140px;

}

.r1,
.r2 {
    margin-right: 60px;
}

.Copyright-Notice {
    color: var(--alabaster);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    /* border: 1px solid #ff1c1c; */
}

/*rwd斷點*/

/*平板*/
@media (max-width:820px) {
    footer {
        width: 100%;

        height: 100%;
    }
}

/*手機板*/
@media (max-width:640px) {
    footer {
        width: 100%;

        height: 100%;
    }
}

/* TOP鈕 */
.gotop {
    position: fixed;
    display: none;
    top: 85%;
    left: 95%;
    width: 70px;
    max-width: 100%;
    z-index: 999;
    cursor: pointer;
}