body{
  overflow-x: hidden;
  display: flex;
}
#slider-container{
  max-height: 100vh;
}

#main-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 200vw;
  margin-top: 6rem;
}
#main-slider .slide {
  height: auto;
  width: 18rem;
  transition: all 0.5s;
  background-color: #fff;
}
.slide.card {
  border-radius: 10px;
  /* 我加的右外距 */
  margin-right: 50px;
}
.slide .card-title {
  font-size: 0.9rem;
}
.slide .card-body {
  padding: 0.8rem;
}
.slide img {
  border-radius: 10px 10px 0 0;
  /* filter: grayscale(100%); */
  /* 後方突反灰-關 */
  transition: all 1s;
}
.slide .card-body p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;

}
.slide.active img {
  filter: none;
}
.slide.active .card-body p {
  opacity: 1;
}

#side-1 {
  z-index: 99;
  transform: translateX(375%) scale(1.5);
  /* 首張的位置調整 */
}
.slider-controls {
  display: flex;
  position: absolute;
  left: 500px;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 3rem auto;
}
/* .slider-btn {
  border-radius: 50px;
  height: 2rem;
  width: 3rem;
  border: 1px solid #6e6e6e;
  font-size: 15px;
  color: #6e6e6e;
  text-align: center;
  line-height: 30px;
  padding-top: 0.1rem;
  margin: 0.5rem;
} */
/* .slider-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #00accd;
  border: none;
} */
.slide-indicator-container {
  margin: 6rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slide-indicator {
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #6e6e6e;
}
.slide-indicator:hover {
  cursor: pointer;
}
.slide-indicator.active {
  background-color: #00accd;
  border-color: #00accd;
}



/* 我的 */

.icon {
  height: 13px;
  display: flex;
  margin: 10px 0;
}
.icon img{
width: 10px;
margin: 0 7px;
}
